@font-face {
  font-family: "Vazir";
  src: url("../node_modules/vazir-font/dist/Vazir-Regular.eot");
  src: url("../node_modules/vazir-font/dist/Vazir-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../node_modules/vazir-font/dist/Vazir-Regular.woff2") format("woff2"),
    url("../node_modules/vazir-font/dist/Vazir-Regular.woff") format("woff"),
    url("../node_modules/vazir-font/dist/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../node_modules/vazir-font/dist/Vazir-Bold.eot");
  src: url("../node_modules/vazir-font/dist/Vazir-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../node_modules/vazir-font/dist/Vazir-Bold.woff2") format("woff2"),
    url("../node_modules/vazir-font/dist/Vazir-Bold.woff") format("woff"),
    url("../node_modules/vazir-font/dist/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../node_modules/vazir-font/dist/Vazir-Black.eot");
  src: url("../node_modules/vazir-font/dist/Vazir-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../node_modules/vazir-font/dist/Vazir-Black.woff2") format("woff2"),
    url("../node_modules/vazir-font/dist/Vazir-Black.woff") format("woff"),
    url("../node_modules/vazir-font/dist/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../node_modules/vazir-font/dist/Vazir-Medium.eot");
  src: url("../node_modules/vazir-font/dist/Vazir-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../node_modules/vazir-font/dist/Vazir-Medium.woff2") format("woff2"),
    url("../node_modules/vazir-font/dist/Vazir-Medium.woff") format("woff"),
    url("../node_modules/vazir-font/dist/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../node_modules/vazir-font/dist/Vazir-Light.eot");
  src: url("../node_modules/vazir-font/dist/Vazir-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../node_modules/vazir-font/dist/Vazir-Light.woff2") format("woff2"),
    url("../node_modules/vazir-font/dist/Vazir-Light.woff") format("woff"),
    url("../node_modules/vazir-font/dist/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#App {
  text-align: center;
  font-family: "vazir";
}
#App .container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  justify-items: center;
  margin: auto;
}
.daynight {
  margin-bottom: -4em;
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  position: absolute;
  padding: 0 3rem;
  flex-direction: column;
}
.btnNight {
  display: flex;
  justify-content: right;
  margin-top: 0.5rem;
}
.flexside {
  display: flex;
  justify-content: right;
}
.daynight select {
  height: 1.5rem;
  margin-top: 1rem;
  width: 7rem;
  border: none;
  border-radius: 5px;
  background-color: #7c7c7c81;
  color: #fff;
  justify-content: left;
  display: flex;
}
.daynight select :focus {
  outline: 0 !important;
  border: 0;
}
.daynight select :valid {
  outline: 0 !important;
  border: 0;
}

@media (max-width: 565px) {
  .daynight {
    width: 100%;
    position: absolute;
    padding: 0 2rem;
    flex-direction: row;
  }
  .btnNight {
    margin-top: 0.5rem;
  }
  
  .flexside {
    display: flex;
    justify-content: right;
  }
}
